target
**/*.rs.bk
/artifacts
/*.deb
node_modules
*.log
.DS_Store
test-results.xml
bin/gateway-test-proxy/test-cfg.yaml
lib/gateway-firewall/src/file_info/file_type_db_gen.rs
HBEDV.KEY
hfuzz_workspace
hfuzz_target
/fuzz/corpus/*.cov
.idea/
.vscode/
images
/data-storage-dir
*.txt
*.zip